<h1>BUSINESS INDEX</h1>

  <tbody>
    <% @businesses.each do |b| %>
      <tr>
        <td><%= b.company_name %></td>
        <td><%= b.email %></td>
        <td><%= link_to 'Show', b %></td>
        <td><%= link_to 'Edit', edit_business_path(b) %></td>
        <td><%= link_to 'Destroy', b, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <br>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business', new_business_path %>


<%= link_to 'LOG IN', new_bsession_path %>

<br>
