<h1>SHOW BUSINESS</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %> |
<%= link_to 'Create a Campaign for this Business', new_campaign_path %>