<h1><%= @business.name %> Campaigns</h1>

  <tbody>
    <% @business.campaigns.each do |c| %>
      <tr>
        <td><%= c.name %></td>
        <td><%= link_to 'Show', c %></td>
        <td><%= link_to 'Edit', edit_campaign_path(c) %></td>
        <td><%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <br>
    <% end %>
  </tbody>