<div class="userindexcontainer">
	<div class="usercontainer">
		<div class="useratts"><%= current_user.name %></div>
		<div class="useratts">Tweets: <%= current_user.followers %></div>
		<div class="useratts">Followers: <%= current_user.tweets %></div>
		<div class="useratts">Posted Tweets: <%= current_user.tweet_count %></div>
	</div>

	<div class="scrollcontainer">
		<div class="twitcontainer">
			<% @campaigns.each do |c| %>
			<% if (c.followers <= current_user.followers) && (c.location == current_user.location) && (c.tweets > 0) %>
				<% array = [] %>
			<% CampaignUser.all.each do |x| %>
				<% if (x.user_id == current_user.id) && (x.campaign_id == c.id) %>
				<% array.push("hide") %>
				<% end %>
			<% end %>
				<div class="twitcontent">

					<div class="twitprofile">
						<%= image_tag current_user.image, :class=>"twitprofilepic" %>
					</div>
					<div class="twitright">
						<div class="campaignname">
							<%= c.name %>
						</div>
						<div class="twitname">
							<%= current_user.name %>
						</div>
						<div class="twitscreenname">
							  &nbsp @<%= current_user.screen_name %>
						</div>

						<div class="status">
							<%= c.status %>
						</div>
						<div class="twitstatusimg">
							<% if c.avatar.url != "/avatars/original/missing.png" %>
							<%= image_tag(c.avatar.url(:original), :class => "statusimg") %>
							<% end %>
						</div>
						<div class="promotedby">
							Promoted by <%= c.business.name %>
						</div>
						<% if array.include?("hide") %>
						<div class="twitbutton">
							<button class="usertwitbutton">Already Posted</button>
						</div>
						<% else %>
						<div class="twitbutton">
					  		<%= button_to 'Post to Twitter', post_path(current_user, :status => c.status, :img => c.avatar.url(:original), :campaign => c.id ), data: {confirm: 'Are you sure you want to post this ad?'}, :class => "usertwitbutton" %>
						</div>
						<% end %>
					</div>
				</div>
			<% end %>
			<% end %>

		</div>
	</div>
</div>

<style>
body {
	background-color: #8fc0db;
}
</style>