<%= current_user.screen_name %>
<%= current_user.description %>
<%= current_user.tweets %>
<span>Tweets</span>

<%= current_user.followers %>
<span>Followers</span>
<h1>
<%= current_user.friends %>

  <% @campaigns.each do |c| %>
  <%= c.business.name %>
  <%= c.name %>
  <%= image_tag c.avatar.url(:medium) %>
  <%= button_to 'Post to Twitter', post_path(current_user, :status => c.status, :img => c.avatar.url(:medium) ), data: {confirm: 'Are you sure you want to post this ad?'} %>
  <% end %>
</h1>