<h1>USERS INDEX</h1>


  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.name %></td>
        <td><%= link_to 'Show', u %></td>
        <td><%= link_to 'Edit', edit_user_path(u) %></td>
        <td><%= link_to 'Destroy', u, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <br>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>

<br>
