<h1>SHOW USER</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Profile Image:</strong>
  <%= image_tag @user.image %>
</p>

<div>
  <% @campaigns.each do |c| %>
  <li><%= c.name %></li>
  <li><%= c.status %></li>
  <%= button_to "Post for $2", post_path(@user) %>
  <%= image_tag c.avatar.url(:thumb) %>
  <% end %>
</div>

<%= link_to 'Edit', edit_user_path %> |
<%= link_to 'Back', users_path %>