<h1>CAMPAIGNS INDEX</h1>


  <tbody>
    <% @campaigns.each do |c| %>
      <tr>
        <td><%= c.name %></td>
        <td><%= link_to 'Show', c %></td>
        <td><%= link_to 'Edit', edit_campaign_path(c) %></td>
        <td><%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <br>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campaign', new_campaign_path %>

<br>
