<h1>CAMPAIGNS INDEX</h1>

<p>The latest campaign is connected to: <%= Campaign.last.business.name %></p>

  <tbody>
    <% @campaigns.each do |c| %>
      <tr>
        <td><%= c.name %></td>
        <td><%= link_to 'Show', c %></td>
        <td><%= link_to 'Edit', edit_campaign_path(c) %></td>
        <td><%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <br>
    <% end %>
  </tbody>
</table>

<br>
