<h1>NEW CAMPAIGNS</h1>

<%= form_for(@campaign) do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @campaign.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :post_copy %><br>
    <%= f.text_field :post_copy %>
  </div>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.date_field :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.date_field :end %>
  </div>
  <div class="field">
    <%= f.label :business_id %><br>
    <%= f.collection_select :business_id, @businesses, :id, :company_name, prompt: "pick a company (required)" %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.collection_select :user_id, @users, :id, :name, prompt: "pick a user to do this thing (required)" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br>
<%= link_to 'Back', campaigns_path %>
<br>