<h1><%= @campaign.name %></h1>
<p>
  <strong>Status:</strong>
  <%= @campaign.status %>
</p>
<p>
  <strong>Thumbnail:</strong>
  <%= image_tag @campaign.avatar.url(:thumb) %>
</p>
<p>
  <strong>Medium:</strong>
  <%= image_tag @campaign.avatar.url(:medium) %>
</p>
<p>
  <strong>Full Size:</strong>
  <%= image_tag @campaign.avatar.url %>
</p>


<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>