
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if !current_user && !current_business %>
        <%= link_to "ADVOCATES", root_path, class:"navbar-brand" %>
      <% elsif current_user %>
        <%= link_to "ADVOCATES", user_path(current_user.id), class:"navbar-brand" %>
      <% else %>
        <%= link_to "ADVOCATES", business_path(current_business.id), class:"navbar-brand" %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if !current_business %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">User<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a>
              <% if current_user %>Signed in as <%= current_user.name %>!
                <%= link_to "Sign out", signout_path %>
              <% else %>
                <%= link_to image_tag("sign-in-with-twitter-gray.png"), "auth/twitter" %>
              <% end %>
            </a></li>
          </ul>
        </li>
        <% end %>
        <% if !current_user %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Business<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% if !current_business %>
            <li class="navbar-text pointer" data-toggle="modal" data-target="#loginModal"><a href="#">Log in</a></li>
            <li class="navbar-text pointer" data-toggle="modal" data-target="#userModal"><a href="#">Sign up</a></li>
            <% else %>
            <li><a><%= link_to 'Logout', session_path, method: :delete if current_business%></a></li>
            <li class="divider"></li>
            <li class="navbar-text pointer" data-toggle="modal" data-target="#buseditModal"><a href="#">Edit Profile</a></li>
            <li><a><%= link_to 'Delete Profile', business_path(current_business.id), method: :delete if current_business%></a></li>
            <% end %>
          </ul>
        </li>
        <% end %>
        <li><%= link_to 'New Campaign', new_campaign_path if current_business%></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a><%= 'Not currently logged in' if !current_business && !current_user%></a></li>
        <li><a><%= 'Currently logged in as: '+current_business.name if current_business%></a></li>
        <li><a><%= 'Currently logged in as: '+current_user.name if current_user%></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Log in Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" tabindex="-1"  data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
    <%= form_for business_new, url: session_path do |f| %>
    <% flash.each do |k,v| %>
    <div class="col-md-12 alert alert-danger" role="alert">
      <%= v %>
    </div>
  <% end %>
     <%= hidden_field_tag :test, "test" %>
    Account Email:  <%= f.text_field :email, :required => true, :class => "form-control input-lg", placeholder: "Email Here..." %>
    <br />
    Password: <%= f.password_field :password, :required => true, :class => "form-control input-lg", placeholder: "Password Here..." %>
    <%= f.submit "Log in", :class => "redbutton" %>
  <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!-- Sign up Modal -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" tabindex="-1"  data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
          <%= form_for business_new do |f| %>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name, :required => true, :class => "form-control input-lg" %>
      </div>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email, :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}', :class => "form-control input-lg" %>
      </div>
      <div class="field">
        <%= f.label :password %><br>
        <%= f.password_field :password, :required => true, :class => "form-control input-lg" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation, :required => true, :class => "form-control input-lg" %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Sign up", :class => "redbutton" %>
      </div>
    <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<% if current_business %>
<!-- Sign up Modal -->
<div class="modal fade" id="buseditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" tabindex="-1"  data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= form_for(business_edit) do |f| %>

        <% flash.each do |k,v| %>
          <div class="col-md-12 alert alert-danger" role="alert">
            <%= v %>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name, :class => "form-control input-lg" %>
        </div>
        <div class="field">
          <%= f.label :email %><br>
          <%= f.text_field :email, :class => "form-control input-lg" %>
        </div>
        <div class="field">
          <%= f.label :password %><br>
          <%= f.password_field :password, :class => "form-control input-lg" %>
        </div>
        <div class="actions">
          <%= f.submit "Update", :class => "redbutton" %>
        </div>
        <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<% end %>