<!DOCTYPE html>
<html>
<head>
  <title>ADvocate</title>
  <%= stylesheet_link_tag    'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/nav' %>

<%= yield %>

<ul>
  <li><%= link_to 'USERS', users_path %></li>
  <li><%= link_to 'BUSINESSES', businesses_path %></li>
  <li><%= link_to 'CAMPAIGNS', campaigns_path %></li>
</ul>

</body>
</html>
