<!DOCTYPE html>
<html>
<head>
  <title>ADvocate</title>
  <%= stylesheet_link_tag    'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Quicksand:300,400,700' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:400,300' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css' %>
  <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if !current_user.nil? %>
    <p>Click The link below to send a tweet.</p>
    <%= link_to "Send a Tweet", new_tweet_path %>
<% else %>
    <p>You must log in to send a tweet.</p>
<% end %>

  <%= render 'layouts/nav' %>

<%= yield %>

<%= current_user %>
<ul>
  <li><%= link_to 'USERS', users_path %></li>
  <li><%= link_to 'BUSINESSES', businesses_path %></li>
  <li><%= link_to 'CAMPAIGNS', campaigns_path %></li>
</ul>

</body>
</html>
