<!DOCTYPE html>
<html>
<head>
  <title>ADvocate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<ul>
  <li><%= link_to 'USERS', users_path %></li>
  <li><%= link_to 'BUSINESSES', businesses_path %></li>
  <li><%= link_to 'CAMPAIGNS', campaigns_path %></li>
</ul>

</body>
</html>
